<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_appear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{156,102}</string>
                <key>spriteSourceSize</key>
                <string>{156,104}</string>
                <key>textureRect</key>
                <string>{{1,201},{156,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_appear10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,274}</string>
                <key>spriteSourceSize</key>
                <string>{198,274}</string>
                <key>textureRect</key>
                <string>{{1,1187},{198,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_appear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{156,100}</string>
                <key>spriteSourceSize</key>
                <string>{156,104}</string>
                <key>textureRect</key>
                <string>{{1,99},{156,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_appear3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,106}</string>
                <key>spriteSourceSize</key>
                <string>{182,106}</string>
                <key>textureRect</key>
                <string>{{1,305},{182,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_appear4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{154,96}</string>
                <key>spriteSourceSize</key>
                <string>{182,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_appear5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,166}</string>
                <key>spriteSourceSize</key>
                <string>{122,166}</string>
                <key>textureRect</key>
                <string>{{1,523},{122,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_appear6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{108,138}</string>
                <key>spriteSourceSize</key>
                <string>{122,166}</string>
                <key>textureRect</key>
                <string>{{1,413},{108,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_appear7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,162}</string>
                <key>spriteSourceSize</key>
                <string>{280,162}</string>
                <key>textureRect</key>
                <string>{{1,1463},{280,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_appear8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{198,264}</string>
                <key>spriteSourceSize</key>
                <string>{198,274}</string>
                <key>textureRect</key>
                <string>{{1,647},{198,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_appear9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{198,272}</string>
                <key>spriteSourceSize</key>
                <string>{198,274}</string>
                <key>textureRect</key>
                <string>{{1,913},{198,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss_appear.png</string>
            <key>size</key>
            <string>{200,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e660a40fcdc7369ed80625dd942dc4b:450a3d73b5b6efd213eb1081a2773ad1:561df8d27c0aa42dddb198595562408a$</string>
            <key>textureFileName</key>
            <string>boss_appear.png</string>
        </dict>
    </dict>
</plist>
