<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{266,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{224,198}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{725,1},{224,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{224,198}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,189},{224,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-29}</string>
                <key>spriteSize</key>
                <string>{228,216}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{481,189},{228,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{220,248}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{719,417},{220,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{224,248}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{251,639},{224,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-44}</string>
                <key>spriteSize</key>
                <string>{226,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{269,1},{226,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyl5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-53}</string>
                <key>spriteSize</key>
                <string>{252,214}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{227,189},{252,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyl6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-50}</string>
                <key>spriteSize</key>
                <string>{248,220}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{219,405},{248,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyr1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-29}</string>
                <key>spriteSize</key>
                <string>{228,216}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,389},{228,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyr2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{220,248}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,627},{220,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyr3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{224,248}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{501,639},{224,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flyr4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-44}</string>
                <key>spriteSize</key>
                <string>{226,186}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{497,1},{226,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyr5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-53}</string>
                <key>spriteSize</key>
                <string>{252,214}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{711,201},{252,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyr6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-50}</string>
                <key>spriteSize</key>
                <string>{248,220}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{469,417},{248,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{968,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b938eca9ebbd21578975429606f12b8a:2df2a009ad1c9c5c6fdaff88339e85d0:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
