<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-59}</string>
                <key>spriteSize</key>
                <string>{124,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{375,737},{124,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1DL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{257,203},{128,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1DR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-58}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{907,199},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-32}</string>
                <key>spriteSize</key>
                <string>{116,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,427},{116,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-63}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{375,877},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{387,197},{128,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1UL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{907,1},{108,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1UR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{127,209},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1attackedD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{128,152}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{257,335},{128,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1attackedDL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-46}</string>
                <key>spriteSize</key>
                <string>{128,164}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{119,823},{128,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1attackedDR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-39}</string>
                <key>spriteSize</key>
                <string>{122,142}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{763,327},{122,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1attackedL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{257,1},{128,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1attackedR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{705,457},{128,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1attackedU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{387,1},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1attackedUL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{128,206}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{127,1},{128,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1attackedUR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{489,587},{128,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{124,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{631,733},{124,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2DL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{501,733},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2DR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-39}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{907,341},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{116,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,621},{116,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{759,871},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{575,197},{128,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2UL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{119,427},{108,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2UR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-49}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{749,587},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2attackedD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-36}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{879,613},{126,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2attackedDL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-45}</string>
                <key>spriteSize</key>
                <string>{128,164}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{229,489},{128,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2attackedDR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{763,197},{128,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2attackedL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{517,1},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2attackedR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{126,134}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{631,873},{126,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2attackedU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{387,327},{128,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2attackedUL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,225},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2attackedUR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{549,457},{128,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-35}</string>
                <key>spriteSize</key>
                <string>{124,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{869,741},{124,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3DL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{501,871},{128,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3DR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-39}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{757,729},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{116,192}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,815},{116,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-41}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{885,867},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{575,327},{128,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3UL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{108,196}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{119,625},{108,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3UR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-49}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{879,483},{128,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3attackedD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-47}</string>
                <key>spriteSize</key>
                <string>{124,162}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{249,821},{124,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3attackedDL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-46}</string>
                <key>spriteSize</key>
                <string>{128,164}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{229,655},{128,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3attackedDR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{122,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{387,457},{122,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3attackedL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{647,1},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3attackedR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{359,581},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3attackedU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{777,1},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3attackedUL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{124,222}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3attackedUR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-49}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{619,587},{128,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1020,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb42fd575db8775722e6d26176dd3423:87f879c1c9e7d89afaf132b9211acd0f:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
